.hotel-scroll {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 0.5rem 0;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.hotel-card-width {
    min-width: 300px;
    max-width: 350px;
    flex-shrink: 0;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #dedede;

    @media (max-width: 640px) {
        min-width: 280px;
        max-width: 320px;
    }
}

.hotel-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hotel-card-image-container {
    position: relative;
    height: 200px;
    width: 100%;
}