// Red
$btn-red:        #DC1217;  // claro
$btn-red-hover:  #B71317;  // oscuro

// Blue
$btn-blue:       #00324A;  // claro
$btn-blue-hover: #002334;  // oscuro

// Neutral/disabled
$btn-neutral:     #E1E1E1;
$btn-neutral-txt: #8F8F8F;

// Texto
$txt-white: #FFFFFF;
$txt-blueDark: #003D57;
$txt-blueLight: #126281;

// Forma / sombra (si usas sombra global en btn-base)
$btn-radius: 16px;
$btn-shadow: 0 10px 24px rgba(0,0,0,.12);